<h1>Editing grocery</h1>

<%= form_for :grocery, url: grocery_path(@grocery), method: :patch do |f| %>
  <% if @grocery.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@grocery.errors.count, "error") %> prohibited
        this grocery from being saved:</h2>
      <% end %>
      <ul>
        <% @grocery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'form', locals: {f: f} %>
<% end %>





