<h1>Grocery List</h1>
<table>
  <tr>
   <th> Category  .</th>
   <th> Name  .</th>
   <th> Number  .</th>
   <th> Explanation  .</th>
   <th> Bought  .</th>
  </tr>

  <%= render partial: 'grocery', collection: @groceries %>

  <tr> <%= link_to 'New article', new_grocery_path %> </tr>
</table>

