<tr>
  <td> <%= category.name %> </td>
  <td>
    <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-link btn-xs', class: 'glyphicon glyphicon-pencil aria-hidden="true"' %>
    <%= link_to 'Destroy' ,  category_path(category), method: :delete, data: { confirm: 'Are u sure?'},  class: 'glyphicon glyphicon-trash'%>
    <%= link_to 'Groceries' ,  category_groceries_path(category),  class: 'glyphicon glyphicon-list'%>

  </td>
</tr>
