<div id="error_explanation">
  <% if @category.errors.any? %>
    <h2><%= pluralize(@category.errors.count, "error") %> prohibited
      this category from being saved:
    </h2>
  <% end %>
  <% @category.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</div>
