<h1>Categories list</h1>
<table>
  <tr>
    <th> category name</th>
  </tr>
  <tr>
    <%= render partial: 'category', collection: @categories %>
  </tr>
  <tr>
    <%= link_to 'New category', new_category_path %>
  </tr>
</table>


