<h2>Categories list</h2>
<table class="table table-hover table-striped">
  <thead>
    <tr> category name </tr>
  </thead>
  <tbody>
    <tr> <%= render partial: 'category', collection: @categories %></tr>
  </tbody>
</table>
<%= link_to 'NewCategory', new_category_path, class: 'btn btn-link btn-xs', class: 'glyphicon glyphicon-plus aria-hidden="true"' %>
<%= link_to "Home", groceries_path, class: 'btn btn-link btn-xs', class: 'glyphicon glyphicon-home aria-hidden="true"' %>



